/* styles.css */

body {
  background-color: #b1d2db;
  font-family: Helvetica, Arial, sans-serif;
}

.backgroundImage {
  background-image: url(/assets/img/EPAlogo.png);
  width: 400px;
  height: 400px;
  margin: 64px auto;
}

.backgroundImage:hover {
  background-image: url(/assets/img/EPANews.png);
  cursor: crosshair;
}

.h1 {
  color: rgb(19, 87, 183);
  font-size: 48px;
  text-align: center;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.h1:hover {
  color:rgb(123, 114, 15);
  cursor: crosshair;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

.text {
  width: 50%;
  margin: 96px auto;
}

.text * {
  display: inline-block;
  vertical-align: center; 
}

h2 {
  color: rgb(11, 113, 50);
  font-size: 40px;
  text-align: left;
}

h3 {
  font-size: 16px;
  text-align: center; 
}

h3 a:link,
h3 a:visited {
  color: rgb(14, 117, 64);
  text-decoration: none;
}

h3 a:hover {
  color: white;
}